{% extends '::base.html.twig' %}

{% block body %}
    <h1>Academico list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nacimiento</th>
                <th>Rfc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('academico_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.nacimiento %}{{ entity.nacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.rfc }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('academico_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('academico_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('solicitud', {'_switch_user': entity.name }) }}">Crear solicitud</a>

                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('academico_new') }}">
                Create a new entry
            </a>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <a href="{{ path('academico', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
            {% endif %}

        </li>
    </ul>
    {% endblock %}
