{% extends 'CcmSiaBundle::layout.html.twig' %}

{% block wrapper %}
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Académico</h3>
        </div>


        <div class="col-lg-8">
            <ol class="breadcrumb">
                <li><a href="{{ path('sia') }}">Inicio</a></li>
                <li><a href="{{ path('academico') }}">Academicos</a></li>
                <li class="active">{{ entity.id }}</li>
            </ol>
        </div>

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="col-lg-8">
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <i class="fa fa-check fa-lg"></i> {{ flashMessage }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ entity.name | capitalize}}
                    <span class="pull-right text-muted small">
                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>
                                        <img src="http://placekitten.com/g/150/150" alt="..." class="img-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td><label><i class="fa fa-male"></i> Fecha de nacimiento</label> {{ entity.nacimiento|date('d-m-Y')}}</td>
                                    <td><label><i class="fa fa-book"></i> RFC:</label> {{ entity.rfc}}</td>
                                    <td>
                                        <button class="btn btn-primary" type="button"><i class="fa fa-bookmark"></i> Dias: <span class="badge">{{ entity.dias}}</span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="col-lg-12">

                                    {{ form_start(delete_form) }}
                                    <a href="{{ path('academico_edit', { 'id': entity.id }) }}" type="button" class="btn btn-primary">Modificar</a>
                                    <a href="{{ path('academico') }}" type="button"  class="btn btn-danger">Regresar</a>
                                    <button href="{{ path('academico_delete', { 'id': entity.id }) }}" type="submit" class="btn btn-primary"
                                            onclick="return confirm('¿Estás seguro de eliminar esta información?')">Eliminar</button>
                                    {{ form_end(delete_form) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h3 class="page-header"><small>Asignación Anual</small></h3><br>
            <table  class="table table-condensed">
                <thead>
                <tr><th>Total Licencias</th><th>Total Comisiones</th><th>Total Visitantes</th></tr>
                </thead>
                <tbody>
                <tr><td>${{ asignacionLicencia |number_format(2)}}</td><td>${{ asignacionComision |number_format(2)}}</td><td>${{ asignacionVisitante |number_format(2)}}</td></tr>
                </tbody>
            </table>

            <strong>Saldo</strong><span style="color:#428bca; font-size:150%"> ${{ asignacionLicencia |number_format(2)}}</span>
            {% set asignacion = (entity.asignacion * 100)/30000 %}
            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ asignacion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ asignacion }}%">
                    <span class="sr-only">80% Complete (success)</span><span class="text-default">{{ asignacion|number_format }}%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h3 class="page-header"><small>Solicitudes</small></h3>
            <table class="table table-striped">
                <thead>
                <tr><th>Tipo de Solicitud</th><th>Actividad a realizar</th><th>Estado</th><th>Fecha</th></tr>
                </thead>
                <tbody>
                {% for solicitud in entity.solicitudes %}
                    <tr>
                        <td>
                            <a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">{{ solicitud.tipo }}</a>
                        </td>
                        <td> {{ solicitud.actividad }}</td>
                        <td>
                            {% if solicitud.enviada is defined %}
                                {% if aprobada is defined %}
                                    <span class="label label-warning">Aprobada</span>
                                {% else %}
                                    <span class="label label-danger">No aprobada</span>
                                {% endif %}
                            {% else %}
                                <span class="label label-warning">No enviada</span>
                            {% endif %}
                        </td>
                        <td>
                            <em>{{ solicitud.modified|date('d-m-Y') }}</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            <h3 class="page-header"><small>Proyectos</small></h3>
            <table class="table table-striped">
                <thead>
                <tr><th>Número</th><th>Nombre</th></tr>
                </thead>
                <tbody>
                {% for proyecto in entity.proyectos %}
                    <tr>
                        <td><a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">{{ proyecto.numero }}</a> </td><td> {{ proyecto.nombre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}