{% extends 'CcmSiaBundle::layout.html.twig' %}

{% form_theme form 'CcmSiaBundle::form_errors.html.twig' %}

{% block wrapper %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Nuevo Proyecto</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.numero) }}
                    </div>
                    <div>
                        {{ form_widget(form.numero, {'attr': {'class': 'form-control input-sm'} } ) }}
                    </div>
                    <div>{{ form_errors(form.numero) }}</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.nombre) }}
                    </div>
                    <div>
                        {{ form_widget(form.nombre, {'attr': {'class': 'form-control input-sm'} } ) }}
                    </div>
                    <div>{{ form_errors(form.nombre) }}</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div>
                        {{ form_label(form.academico) }}
                    </div>
                    <div>
                        {{ form_widget(form.academico, {'attr': {'class': 'form-control input-sm'} } ) }}
                    </div>
                    <div>{{ form_errors(form.academico) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-12">
                {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'} } )}}

                <a href="{{ path('proyecto') }}" type="button"  class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}



{% endblock %}
