{% extends 'CcmSiaBundle::layout.html.twig' %}


{% block wrapper %}



<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Solicitud</h1>
    </div>

    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li><a href="{{ path('sia') }}">Solicitudes</a></li>
            <li class="active">{{ entity.id }}</li>
        </ol>
    </div>

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="col-lg-8">
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <i class="fa fa-check fa-lg"></i> {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

</div>



<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ entity.tipo | capitalize}}
                <span class="pull-right text-muted small">
                    <em>Última modificación: {{ entity.modified|date('y-m-d')}}</em>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-4">
                    <label><i class="fa fa-calendar"></i> Inicio de la solicitud:</label> {{ entity.inicio |date ('y-m-d')}}
                </div>
                <div class="col-lg-4">
                    <label>Fin de la solicitud:</label> {{ entity.fin |date ('y-m-d')}}
                </div>
                {%  set dias = entity.fin|date("U") - entity.inicio|date("U") %}
                <div class="col-lg-4">
                    <label>Días solicitados:</label> {{ ((dias/3600) / 24) + 1}}
                </div>

                <div class="col-lg-12"><label><i class="fa fa-file-text-o"></i> Proyecto:</label> {{ entity.proyecto}}</div>
                <div class="col-lg-4"><label><i class="fa fa-globe"></i> País:</label> {{ entity.pais}}</div>
                <div class="col-lg-8"><label>Ciudad:</label> {{ entity.ciudad}}</div>
                <div class="col-lg-12"><label><i class="fa fa-university"></i> Universidad:</label> {{ entity.universidad}}</div>
                <div class="col-lg-12"><label><i class="fa fa-male"></i> Profesor a quien visita:</label> {{ entity.profesor}}</div>
                <div class="col-lg-12"><label><i class="fa fa-laptop"></i> Actividad a realizar:</label> {{ entity.actividad}}</div>
                <div class="col-lg-12"><label><i class="fa fa-book"></i> Propósito:</label> {{ entity.proposito}}</div>
                <div class="col-lg-12"><label><i class="fa fa-folder-open"></i> Trabajo a presentar:</label> {{ entity.trabajo}}</div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-12">
                <div class="table-responsive">
                    <label>Financiamiento</label>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                {% set ccm = 0 %}
                {% set papiit = 0 %}
                {% set conacyt = 0 %}
                {% set otro = 0 %}

                {% for fin in entity.financiamiento %}
                        <tr>
                            <td>{{ fin.nombre }}</td>
                            <td>{{ fin.ccm  }}</td>
                            <td>{{ fin.papiit  }}</td>
                            <td>{{ fin.conacyt  }}</td>
                            <td>{{ fin.otro  }}</td>
                        </tr>
                    {% set ccm = fin.ccm + ccm %}
                    {% set papiit = fin.papiit + papiit %}
                    {% set conacyt = fin.conacyt + conacyt %}
                    {% set otro = fin.otro + otro %}

                {% endfor %}
                        <tr>
                            <td><i class="fa fa-usd"></i> Total</td>
                            <td>{{ ccm }}</td>
                            <td>{{ papiit }}</td>
                            <td>{{ conacyt }}</td>
                            <td>{{ otro }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>

                {% if entity.enviada %}

                    {% if entity.aprobada == null %}
                        <div class="alert alert-warning">
                            <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-exclamation-triangle"></i></button>
                            Esta solicitud ya fue enviada pero no ha sido aprobada.
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            <button class="btn btn-success btn-circle" type="button"><i class="fa fa-check"></i></button>
                            Esta solicitud ya ha sido aprobada.
                        </div>
                    {% endif %}

                {% else %}
                    <div class="alert alert-warning">
                        <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i></button>
                        Esta solicitud no ha sido enviada.
                    </div>


                {% endif %}

{% block footer %}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-12">
                            {% if entity.enviada %}
                                    <a href="{{ path('sia') }}" type="button"  class="btn btn-danger">Regresar</a>
                                    {# <button type="submit" class="btn btn-primary">Eliminar</button>#}
                            {% else %}
                                {{ form_start(delete_form) }}
                                <a href="{{ path('solicitud_edit', { 'id': entity.id }) }}" type="button" class="btn btn-primary">Modificar</a>
                                <a href="{{ path('solicitud') }}" type="button"  class="btn btn-danger">Regresar</a>
                                <button href="{{ path('solicitud_delete', { 'id': entity.id }) }}" type="submit" class="btn btn-primary">Eliminar</button>
                                {{ form_end(delete_form) }}

                            {% endif %}
                        </div>
                    </div>
                </div>
{% endblock %}



            </div>
        </div>
    </div>



{% endblock %}
