{% extends 'CcmSiaBundle::layout.html.twig' %}

    {% form_theme edit_form 'CcmSiaBundle::form_errors.html.twig' %}


{% block wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header"><h2>Editar sesión de consejo</h2></div>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="col-lg-8">
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <i class="fa fa-check fa-lg"></i> {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="col-lg-8">
            <div class="alert alert-error alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <i class="fa fa-plus-circle fa-lg"></i> {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-8">
                <div class="form-group">
                    <div>
                        {{ form_label(edit_form.fecha) }}
                    </div>
                    <div>
                        {{ form_widget(edit_form.fecha, {'attr': {'class': 'form-control', 'placeholder':'dd-mm-aaaa'} } ) }}
                    </div>
                    <div>{{ form_errors(edit_form.fecha) }}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-8">
                <div class="form-group">
                    <div>
                        {{ form_label(edit_form.name) }}
                    </div>
                    <div>
                        {{ form_widget(edit_form.name, {'attr': {'class': 'form-control','placeholder': 'Nombre de la sesión'} } ) }}
                    </div>
                    <div>{{ form_errors(edit_form.name) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h1></h1>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="text-danger">{{ form_errors(edit_form.actaConsejoFile) }}</div>
                    {{ form_widget(edit_form.actaConsejoFile) }}
                    <div>{{ form_errors(edit_form.actaConsejoFile) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h1></h1>
            <div class="col-lg-12">
                {{ form_widget(edit_form.save,{'attr':{'class':'btn btn-primary'} } )}}

                <a href="{{ path('sesiones_show', { 'id': entity.id}) }}" type="button"  class="btn btn-danger">Cancelar</a>


            </div>
        </div>
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock %}
